body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.main_login {
  height: 100vh;
}
.login_content {
  width: 70%;
}
.login_content h4 {
  text-align: center;
}

.login_form .card {
  width: 380px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login_form h4{
  color: #007bff;
  margin-bottom: 20px;
  font-weight: 700;
}

.login_form form {
  display: flex;
  flex-direction: column;
}

.login_form label {
  text-align: left;
  margin-bottom: 5px;
}

.login_form input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

.login_form .login_btn {
  padding: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.login_form .switch {
  margin-top: 15px;
  font-size: 14px;
}
.login_form .switch a {
  color: #007bff;
  text-decoration: none;
}

.social_media {
  width: 80%;
}
.social_media .google {
  border-radius: 5px;
  padding: 6px;
  box-shadow: 0px 0px 4px 0px gray;
  background-color: #205081;
  border: 1px solid #163758;
  color:white;
  cursor: pointer;
}
.icon{
font-size:20px;
}
.google {
  width: 48%;
}
.login_form .card a{
    font-weight: 700;
}

.pass_visible {
    position: relative;
}
.password_toggle{
    position:absolute;
    top:10px;
    right:10px;
}